spring:
  application:
    name: filter-product
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/saas_dev}
    username: ${DB_USER:saas}
    password: ${DB_PASS:saas}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: false
        format_sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true

server:
  port: ${PORT:8080}
